[defaults]
inventory = inventory/hosts.yml
roles_path = roles
remote_user = opc
private_key_file = ../terraform/generated/sd-linux
host_key_checking = False
interpreter_python = auto_silent
stdout_callback = ansible.builtin.default
callback_result_format = yaml
retry_files_enabled = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
